* {
  box-sizing: border-box;
}

body {
  background: #1a1a1a;
  margin: 0;
  color: #ddd;
  font-family: "Roboto", "NY", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  min-height: 50px;
  z-index: 10;
}

header a {
  float: left;
  font-weight: normal;
  font-smooth: subpixel-antialiased;
  margin: 8px;
}

header a h1 {
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 5%;
  float: right;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  vertical-align: baseline;
  z-index: 10;
}

nav a {
  padding: 10px;
  float: left;
  color: #ddd;
}

nav label {
  display: block;
  padding: 10px;
  float: right;
}

nav a:hover {
  color: #f3bf10;
  transition: all 0.2s ease-in-out;
}

a {
  color: #f3bf10;
  text-decoration: none;
}

model-viewer {
  background-color: #1a1a1a;
  padding: 10px;
  margin: 0 0 15% 0;
  min-width: 50vw;
  min-height: 50vh;
}

@font-face {
  font-family: system-ui, -apple-system, NY, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  src: url("asserts/font/NY.dmg");
}

.model {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background: #f3bf10;
  color: black;
  padding: 10px;
  border: 2px solid black;
  font-weight: bolder;
  cursor: pointer;
}

.ribbon {
  width: 90%;
  height: 5px;
  background: #ddd;
  margin: 0 auto;
  position: relative;
}

.cv {
  background: black;
  padding: 1%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: absolute;
  bottom: 2%;
}

.qr {
  z-index: 2;
  position: fixed;
  bottom: 8%;
  right: 3%;
  width: 8%;
}

.banner {
  position: fixed;
  z-index: 1;
  display: inline-block;
  bottom: 18%;
  width: 100%;
  padding: 3px;
  background: #f3bf10;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.banner p {
  color: #000;
  font-weight: bold;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #fff;
  height: 300px;
  width: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 5px;
}

.card:hover {
  transform: rotate(360deg);
  transition: transform 0.7s ease-in-out;
}

.card img {
  width: 90%;
  border-radius: 10px 10px 0 0;
}

.card h3 {
  color: black;
}

.card button {
  background: black;
  color: #fff;
  border: none;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  background: black;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
}

.profile-container {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.profile-pic {
  margin: 20px;
  width: 20%;
  float: right;
}

.description {
  padding: 1.1rem;
  font-size: large;
}

@media screen and (max-width: 600px) {
  model-viewer {
    width: 100vw;
    height: 80vh;
  }

  .model {
    margin: 0 0 30% 0;
  }

  .qr {
    width: 25%;
    bottom: 3.5%;
  }

  .banner {
    bottom: 20%;
  }

  .profile-container {
    flex-direction: row-reverse;
  }

  .profile-pic {
    width: 90%;
  }

  #timeNow {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  header a h1 {
    font-size: 1.5rem;
  }

  nav label {
    display: none;
  }

  model-viewer {
    margin: 0 0 25% 0;
  }

  .banner {
    font-size: 0.6rem;
  }

  .footer {
    font-size: 0.6rem;
  }
}
